@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-primary: #1e3a8a;
    --brand-accent: #0f766e;
}

html,
body,
#root {
    height: 100%;
}

body {
    @apply bg-slate-100 text-slate-900 antialiased;
}

.dark body {
    @apply bg-slate-950 text-slate-100;
}